			.mui-bar-nav{
	    		background: #F14DA4;
	    		color: #fff;
	    	}
	    	.mui-bar-nav .mui-title,.mui-action-back{
	    		color: #fff;
	    	}
	    	header .right .shop{
	    		font-family: icon;
	    	}
	    	header .right{
	    		float: right;
	    		display: -webkit-flex;
				display: flex;
				-webkit-justify-content: flex-end;
				justify-content:flex-end;
				-webkit-align-items: center;
				align-items: center;
	    	}
	    	#segmentedControl a{
	    		border: 1px solid #F14DA4;
	    	}
	    	
			.mui-content{
				background: #fff;
			}
			.mui-segmented-control {
			    font-size: 15px;
			    font-weight: 400;
			    position: relative;
			    display: table;
			    overflow: hidden;
			    width: 100%;
			    table-layout: fixed;
			    border: none;
			    border-radius: 3px;
			    background-color: transparent;
			    -webkit-touch-callout: none;
			}
			.mui-segmented-control .mui-control-item{
				color: #F14DA4;
				border:1px solid #F14DA4;
				border-color: #F14DA4;
				width: 18%;
				margin: 0.5rem 0.2rem 0;
				height: 2rem;
				line-height: 2rem;
				display: inline-block;
				
			}
			.mui-segmented-control .mui-control-item.mui-active {
			    color: #fff;
			    background-color: #F14DA4;
			}
			.user li{
				font-family: icon;
				display: -webkit-flex;
				display: flex;
				-webkit-justify-content: center;
				justify-content: center;
				margin-top: 0.4rem;
			}
			.user li .user_name{
				width: 73%;
				padding-bottom: 0.4rem;
				position: relative;
			}
			.user li .user_name h3{
				font-size: 0.88rem;
				margin: 0.4rem 0;
				font-weight: 100;
			}
			
			.user li .user_name p{
				font-size: 0.75rem;
				line-height: 1.3rem;
			}
			.user li .user_img{
				font-size: 1.4rem;
				color: #ddd;
				width: 10%;
			}
			.user li .user_num{
				width: 15%;
				color: #F14DA4;
			}
			.see{
				text-align: center;
			}
			.lettrt{
				text-align: center;
				width: 80%;
				border-radius: 15px;
				background: #eee;
				margin: 2rem auto;
				height: 2.2rem;
				line-height: 2.2rem;
			}
			.lettrt a{
				color: #F14DA4;
			}
			body{
				background: #fff;
			}

