			.mui-bar-nav{
	    		background: #F14DA4;
	    		color: #fff;
	    	}
	    	.mui-bar-nav .mui-title,.mui-action-back{
	    		color: #fff;
	    	}
	    	header .right .shop{
	    		font-family: icon;
	    	}
	    	header .right{
	    		float: right;
	    		display: -webkit-flex;
				display: flex;
				-webkit-justify-content: flex-end;
				justify-content:flex-end;
				-webkit-align-items: center;
				align-items: center;
	    	}
	    	/*流行元素*/
	    	.element{
	    		height: 20rem;
	    		background: #fff;
	    		width: 100%;
	    	}
	    	.element h2{
	    		font-size:1.06rem ;
	    		text-align: center;
	    		padding-top: 1.75rem;
	    		position: relative;
	    	}
	    	.element h2:after{
	    		content: '';
	    		display: block;
	    		width: 22%;
	    		height: 1px;
	    		background: #000;
	    		position: absolute;
	    		left: 50%;
	    		margin-left: -11%;
	    		bottom:-0.3rem
	    	}
	    	.element .ele_con{
	    		height: 14rem;
	    		width: 80%;
	    		border: 1px solid #010101;
	    		margin: 1.5rem auto 0;
	    		position: relative;
	    		background: #fff;
	    		text-align: center;
	    	}
	    	
	    	.element .ele_con h3{
	    		font-weight: 100;
	    		text-align: center;
	    		font-size: 1rem;
	    		background: #fff;
	    		position: absolute;
	    		top:-0.5rem;
	    		left: 50%;
	    		margin-left: -28%;
	    		width: 56%;
	    	}
	    	.element .ele_con p{
	    		color: #000;
	    		line-height: 1.3rem;
	    		background: #fff;
	    		width: 58%;
	    		margin: 1.5rem auto 0;
	    		
	    	}
	    	.recommend{
	    		width: 100%;
	    		overflow: hidden;
	    	}
	    	.recommend h2{
	    		font-size: 0.875rem;
	    		font-weight: 100;
	    		text-align: center;
	    		margin-top: 1.2rem;
	    		position: relative;
	    		color: #8C8B90;
	    	}
	    	.recommend h2:after{
	    		content: '';
	    		display: block;
	    		position: absolute;
	    		right: 30%;
	    		bottom: 0.3rem;
	    		width: 10%;
	    		height: 1px;
	    		background: #8C8B90;
	    	}
	    	.recommend h2:before{
	    		content: '';
	    		display: block;
	    		position: absolute;
	    		left: 30%;
	    		bottom: 0.3rem;
	    		width: 10%;
	    		height: 1px;
	    		background: #8C8B90;
	    	}
	    	.recommend ul{
	    		display: -webkit-flex;
				display: flex;
				-webkit-justify-content: center;
				justify-content:center;
				-webkit-flex-wrap: wrap;
				flex-wrap: wrap;
				margin-top: 0.5rem;
	    	}
	    	.recommend ul li{
	    		width: 45%;
	    		margin: 0.5rem 0.3rem;
	    		background: #fff;
	    	}
	    	.recommend ul li img{
	    		width: 100%;
	    		
	    	}
	    	.recommend ul li .word {
	    		padding: 0 0.3rem;
	    	}
	    	.recommend ul li .word .tit{
	    		color: #000;
	    		overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
	    	}
	    	.recommend ul li .word .tit_con{
	    		margin-top: -.4rem;
	    	}
	    	.recommend ul li .word .tit_con p{
	    		font-family: icon;
	    		float: right;
	    	}
	    	.recommend ul li .word .tit_con strong{
	    		color: #F14DA4;
	    		font-size: 1rem;
	    	}
