			.mui-bar-nav{
	    		background: #F14DA4;
	    		color: #fff;
	    	}
	    	.mui-bar-nav .mui-title,.mui-action-back{
	    		color: #fff;
	    	}
	    	header .right .shop{
	    		font-family: icon;
	    	}
	    	header .right{
	    		float: right;
	    		display: -webkit-flex;
				display: flex;
				-webkit-justify-content: flex-end;
				justify-content:flex-end;
				-webkit-align-items: center;
				align-items: center;
	    	}
	    	
			.top{
				/*height: 21rem;*/
				width: 100%;
				overflow: hidden;
				background: #fff;
			}
			.top img{
				width: 100%;
			}
			.top .word{
				font-size: 0.69rem;
				line-height: 1rem;
				padding: 0.5rem 1rem 1rem;
			}
			/*它是妆容的点睛之笔*/
			.punchline{
				background: #fff;
				margin-bottom: 0.635rem;
				padding: 1rem;
				overflow: hidden;
			}
			.h2{
				background: #ddd;
				color: #fff;
				height: 1.57rem;
				line-height: 1.57rem;
				text-align: center;
				width: 11rem;
				margin: 0 auto;
				border-radius: 5px;
				font-size: 1rem;
			}
			.img{
				width: 100%;
				overflow: hidden;
				display: flex;
				display: -webkit-flex;
				justify-content: space-between;
			}
			.img img{
				width: 10.38rem;
				height: 14rem;
				
			}
			.word{
				font-size: 0.69rem;
				line-height: 1rem;
				padding: 0.6rem 0;
			}
/*最重要的是显白*/
			.white{
				background: #fff;
				margin-bottom: 0.635rem;
				padding: 1rem;
			}
			.tit{
				text-align: center;
				font-size: 0.75rem;
				width: 4.2rem;
				border: 1px dashed #000;
				margin: 1rem auto;
				height: 1.3rem;
				line-height: 1.3rem;
			}
			.white .white_con ul li{
				margin-bottom:0.8rem ;
			}
			/*这些坑不要踩*/
			.no{
				background: #fff;
				margin-bottom: 0.635rem;
				padding: 1rem;
				overflow: hidden;
			}
			.edit{
				text-align: center;
				font-size:0.7rem ;
				margin: 1.2rem 0;
			}
			.read{
				width: 100%;
				overflow: hidden;
				padding: 1rem;
				margin-bottom: 2.2rem;
			}
			.read h2{
				font-size: 0.92rem;
				text-align: center;
				font-weight: 100;
				margin-bottom: 1rem;
			}
			.read .read_con li{
				width: 100%;
				height: 5rem;
				background: #fff;
				margin: 0.4rem 0;
				overflow: hidden;
				box-sizing: border-box;
				position: relative;
			}
			.read .read_con li .li{
				display: -webkit-flex;
				display: flex;
				-webkit-justify-content: flex-start;
				justify-content: flex-start;
				overflow: hidden;
				padding: 0.4rem;
			}
			.read .read_con li .li .imgs{
				width: 24%;
			}
			.read .read_con li .li .imgs img{
				width: 100%;
			}
			.read .read_con li .li .zi{
				font-size: 0.75rem;
				line-height: 1.3rem;
				padding: 0.3rem 0.2rem 0.3rem 0.5rem;
			}
			.read .read_con li .eye{
				position: absolute;
				bottom:0;
				right: -0.3rem;
				font-size: 0.6rem;
			}
			.read .read_con li .eye img{
				width: 23%;
			}
.flex{
	height: 3.125rem;
	line-height: 3.125rem;
	width: 100%;
	background: #fff;
	position: fixed;
	bottom: 0;
	border-top: 1px solid #EFEFEF;
	overflow: hidden;
	padding: 0 0.8rem;
}
.flex a{
	font-family: icon;
	color: #8c8c8c;
	font-size: 1.1rem;
	margin: 0 0.2rem;
	cursor: pointer;
}
.flex .commend{
	width: 70%;
	display: inline-block;
}
.flex span{
	font-size: 0.75rem;
	margin-left: 0.5rem;
	
}
